.container {
    width: 1200px;
    margin: 0 auto;
    border-radius: 10px;
    font-family: helvetica;
    font-size: 20px;
    color: white;
    padding: 20px 0px 20px 0px;
    margin-bottom: 10px;
    line-height: 20px;

    background: 
      radial-gradient(circle at 6.7% 75%,
        rgba(173,185,227,1),
        rgba(173,185,227,0) 90%),
      radial-gradient(circle at 93.3% 75%,
        rgba(163,121,201,1),
        rgba(163,121,201,0) 90%),
      radial-gradient(circle at 50% 0,
        rgba(183,68,184,1),
        rgba(183,68,184,0) 90%) pink;
}

.videos-wrapper {
    display: flex;
    flex-direction: row;
    padding: 50px;
    padding-top: 0px;
}

.video-detail-wrapper {
    width: 500px;
}

.video-detail-title {
    font-size: 25px; 
    padding: 10px 0px 10px 0px;
    line-height: 28px;
}

iframe {
    width: 500px;
    height: 300px;
}

img {
    width: 150px;
    height: auto;
    padding-bottom: 20px;
}

ul {
    list-style-type: none;
    margin: 0px;
}

input {
    width: 500px; 
    border: 0;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    font-size: 30px;
    background-color: inherit;
    border: 3px solid white;
    color: white;
    margin: 50px;
    margin-bottom: 40px;
}

input::placeholder {
    color: white;
}

input:focus::placeholder { 
    color:transparent; 
}
